extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/audiodescricao.css')

block content

  main.page
    h1.title Introdução a audiodescrição

    section.cards-extra
      .main-grid

        article.extra-card1.card1
          img(src="../images/definicao.png")
          h3 Definição e conceitos
          a(href="/") Ler mais

        article.extra-card.card2
          img(src="../images/usuarios.png")
          h3 Quem são os usuários da audiodescrição?
          a(href="/") Ler mais

        article.extra-card.card3
          img(src="../images/importancia.png")
          h3 A importância deste recurso
          a(href="/") Ler mais

        article.extra-card1.card4
          img(src="../images/exemplos.png")
          h3 Exemplos práticos
          a(href="/") Ler mais

        // SIDEBAR
        aside.sidebar
          h3 Sugestão de conteúdo adicional

          .sidebar-content
            nav
              ul(style="list-style: none; padding: 0;")
                li
                  .sidebar-item
                    i.bi.bi-file-earmark-text
                    small Artigos
                  a(href="#") (Links)
                hr

                li
                  .sidebar-item
                    i.bi.bi-play-btn
                    small Vídeos
                  a(href="#") (Links)
                hr

                li
                  .sidebar-item
                    i.bi.bi-people
                    small Relatos
                  a(href="#") (Depoimentos)

          button.toggle-sidebar(
            onclick="toggleSidebar()"
            aria-expanded="true"
          ) ↑

    .practice
      h2 Coloque em prática o que você aprendeu!
      p Teste aqui o que você aprendeu.
      a(href="/#") Inserir audiodescrição

  script.
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      const button = document.querySelector('.toggle-sidebar');

      const isCollapsed = sidebar.classList.toggle('collapsed');

      button.textContent = isCollapsed ? '↓' : '↑';
      button.setAttribute('aria-expanded', !isCollapsed);
    }