extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/audiodescricao.css')

block content

 main.page
  h1.title Introdução a audiodescrição

  section.cards-extra(aria-label="Tópicos de aprendizado")
    .main-grid

      .cards
        article.extra-card1
          img(src="../images/definicao.png" alt="")
          h3 Definição e conceitos
          a(href="/" aria-label="Ler mais sobre Definição e conceitos") Ler mais

        article.extra-card
          img(src="../images/usuarios.png" alt="")
          h3 Quem são os usuários da audiodescrição?
          a(href="/" aria-label="Ler mais sobre usuários da audiodescrição") Ler mais

        article.extra-card
          img(src="../images/importancia.png" alt="")
          h3 A importância deste recurso
          a(href="/" aria-label="Ler mais sobre a importância da audiodescrição") Ler mais

        article.extra-card1
          img(src="../images/exemplos.png" alt="")
          h3 Exemplos práticos
          a(href="/" aria-label="Ler mais sobre exemplos práticos") Ler mais

      // Sidebar
      aside.sidebar(aria-labelledby="sidebar-title")
        h3#sidebar-title Sugestão de conteúdo adicional

        nav(aria-label="Links complementares")
          ul(style="list-style: none; padding: 0;")
            li
              .sidebar-item
                i.bi.bi-file-earmark-text(aria-hidden="true")
                small.text Artigos
              a(href="#") (Links para leitura)
            hr

            li
              .sidebar-item
                i.bi.bi-play-btn(aria-hidden="true")
                small.text Vídeos educacionais
              a(href="#") (Links de vídeos)
            hr

            li
              .sidebar-item
                i.bi.bi-people(aria-hidden="true")
                small.text Relatos
              a(href="#") (Depoimentos)

            hr

          button.scroll-top(onclick="window.scrollTo(0,0)" aria-label="Voltar ao topo da página") ↑

  .practice
    h2 Coloque em prática o que você aprendeu!
    p
      | Teste aqui o que você aprendeu sobre audiodescrição.
      | Escolha uma imagem ou um pequeno vídeo e tente descrevê-lo,
      | transmitindo todas as informações visuais.
    a(href="/#") Inserir audiodescrição