extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/deficienciaVisual.css")

block content
  main.page(role="main")

    // Título principal
    h1.title Entendendo a deficiência visual

    .content-wrapper
      // Conteúdo principal (cards)
      .main-content

        .card
          .card-header
            img(src="../images/cegueira.png" alt="")
            h2 O que é cegueira?
          p
            | A cegueira é a perda total ou quase total da visão, na qual em muitos casos não há um tratamento. 
            | Essa condição pode ter várias causas, podendo estar presente desde o nascimento 
            | ou ser provocada por doenças oculares e acidentes.

        .card
          .card-header
            img(src="../images/visaobaixa.png" alt="")
            h2 O que é baixa visão?
          p
            | A baixa visão é a perda significativa da visão, não sendo possível ser corrigida por óculos, 
            | lentes de contato, medicamentos ou cirurgia. Apesar disso, a pessoa ainda possui algum grau 
            | de visão com uma funcionalidade preservada.

        .card
          .card-header
            img(src="../images/auxilio.png" alt="")
            h2 Como interagir e guiar pessoas com deficiência visual
          p
            | Ao interagir com pessoas com deficiência visual é importante perguntar antes de oferecer ajuda. 
            | Caso precise guiar alguém, deixe que a pessoa segure o seu braço, em vez de puxá-la. 
            | Identifique-se antes de iniciar uma conversa e descreva o ambiente com clareza. 
            | Mantendo sempre uma comunicação respeitosa e clara.

      // Sidebar
      aside.sidebar(aria-labelledby="sidebar-title")
        h3#sidebar-title Sugestão de conteúdo adicional

        nav(aria-label="Links complementares")
          ul(style="list-style: none; padding: 0;")
            li
              .sidebar-item
                i.bi.bi-file-earmark-text(aria-hidden="true")
                small.text Artigos
              a(href="#") (Links para leitura)
            hr

            li
              .sidebar-item
                i.bi.bi-play-btn(aria-hidden="true")
                small.text Vídeos educacionais
              a(href="#") (Links de vídeos)
            hr

            li
              .sidebar-item
                i.bi.bi-people(aria-hidden="true")
                small.text Relatos
              a(href="#") (Depoimentos)
            

        
        button.scroll-top(onclick="window.scrollTo(0,0)" aria-label="Voltar ao topo da página") ↑

  