/* CORPO DA PÁGINA */


body {
  background-color: #E9CCEF;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.page {
  width: 80%;
  margin: 0 auto;
}

/* TÍTULO */
.title {
  margin: 30px 0px 50px;
  font-size: 35px;
  color: #2f4f7f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ========================= */
/* CARDS  */
/* ========================= */

.cards-extra {
  width: 84%;
}

.cards-extra-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* GRID */
.main-grid {
  display: flex;
  gap: 30px;
}

.extra-card {
  flex: 1;
  background: #f6edf6;
  border-radius: 20px;
  padding: 35px 20px;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.378);
  text-align: center;
}

.extra-card h3 {
  font-size: 20px;
  color: #1a3a6c;
  margin-bottom: 10px;
}


.extra-card a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid #582d86;
  color: #582d86;
  text-decoration: none;
  font-weight: 600;
}

.extra-card a:hover {
  background: #582d86;
  color: white;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* cards azuis */

.extra-card1 {
  flex: 1;
  background: #21487FB2;
  border-radius: 20px;
  padding: 35px 20px;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.378);
  text-align: center;
}

.extra-card1 h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.extra-card1 a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid #582d86;
  color: #582d86;
  text-decoration: none;
  font-weight: 600;
  background-color: #ffffff;
}

.extra-card1 a:hover {
  background: #582d86;
  color: white;
}


/* ========================= */
/* ÍCONES - CARDS DE CONTEÚDO */
/* ========================= */

.extra-card img {
  font-size: 40px;
  color: #ffffff;
  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ícones cards azuis*/

.extra-card1 img {
  font-size: 40px;
  color: #ffffff;
  width: 80px;
  height: 80px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 50px;
  margin-left: 0;
  /* garante esquerda */
  transform: translateX(-20px);
  /* ajuste fino */

}

.card {
  height: 180px;
  border-radius: 16px;
  padding: 10px;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card.dark {
  background: #5c6f91;
  color: white;
}

.card.light {
  background: #e9e9ec;
  color: #2f4f7f;
}

.card h3 {
  margin-top: 40px;
  font-size: 16px;
}

.card button {
  margin-top: 15px;
  padding: 6px 14px;
  border-radius: 12px;
  border: 2px solid #6c63ff;
  background: white;
  color: #6c63ff;
  font-size: 12px;
}


/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #f5edf5;
  padding: 20px;
  border-radius: 16px;
  height: 350px;
  margin-right: 0px;
  margin-left: 200px;
  margin-top: 0px;
}

.sidebar h3 {
  color: #2fa36b;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.side-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.side-item small {
  color: gray;
}

.divider {
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

/* PRÁTICA */
.practice {
  margin: 60px 80px;
  background: #f5edf5;
  padding: 30px;
  border-radius: 16px;
  width: 800px;
  height: 250px;
  margin-left: 0px;

}

.practice h2 {
  color: #2eb086;
  margin-bottom: 15px;
  font-size: 28px;
  text-align: justify;
}

.practice p {
  color: #666;
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;

}

.practice a {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  margin-top: 45px;
  background: #2eb086;
  color: white;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
}

.practice a:hover {
  background: #207049;
  color: white;
}

.sidebar i {
  color: #2eb086;
  /* verde igual seu botão */
}

.side-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.h {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  font-style: normal;
}