/* ========================= */
/* BASE */
/* ========================= */

body {
  background-color: #E9CCEF;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 80%;
  margin: 0 auto;
}

/* ========================= */
/* TÍTULO */
/* ========================= */

.title {
  margin: 40px 0px 50px;
  font-size: 35px;
  color: #2f4f7f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ========================= */
/* LAYOUT IGUAL AO AUDIODESCRICAO */
/* ========================= */

.content-wrapper {
  display: flex;
  gap: 30px;
}

/* ========================= */
/* CARDS */
/* ========================= */

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background: #f6edf6;
  border-radius: 20px;
  padding: 35px 20px;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.378);
  width: 1000px; 
}

/* HEADER (ÍCONE + TÍTULO LADO A LADO) */
.card-header {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ÍCONE (IGUAL AO AUDIODESCRICAO) */
.card-header i {
  font-size: 20px;
  color: #fff;

  width: 60px;
  height: 60px;

  background: #582d86;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* TÍTULO */
.card-header h2 {
  font-size: 30px;
  color: #1a3a6c;
  margin: 0;
}

/* TEXTO */
.card p {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(114, 114, 114);
  line-height: 1.6;
  font-weight: 600;
}

/* ========================= */
/* SIDEBAR (IGUAL AO AUDIODESCRICAO) */
/* ========================= */

.sidebar {
  width: 300px;
  background: #f5edf5;
  padding: 20px;
  border-radius: 16px;
  height: 350px;
  margin-right: 0px;
  margin-left: 100px;
  margin-top: 0px;
}

.sidebar h3 {
  color: #2fa36b;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.side-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.side-item small {
  color: gray;
}

.sidebar i {
  color: #2eb086; /* verde igual seu botão */
}

.side-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* LINHA DIVISÓRIA */
.sidebar hr {
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

/* BOTÃO SCROLL */
.scroll-top {
  text-align: right;
  cursor: pointer;
  margin-top: 10px;
  color: #2eb086;
}